.coach_squad_content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.coach_squad_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coach_squad_buttons {
    display: flex;
    gap: 15px;
}

.coach_squad__title {
    color: var(--color-text);
}

.coach_squad_coaches {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(196px, 1fr));
}

.coach_squad_coaches__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 196px;
}

.coach_squad_coaches__item__image {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    border: 1px solid var(--color-sub-accnet);

}

.coach_squad_coaches__item__image img {
    width: 166px;
    height: 240px;
    object-fit: cover;
}

.coach_squad_coaches__item__name {
    text-align: center;
    margin-top: 20px;
}

.coach_squad_coaches__item__text {
    text-align: center;
    margin-top: 15px;
}
